body{
    margin: 0;
    padding: 0;
}


.mainbody{
    height: 100vh;
    width: 100vw;  
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.mainbody .leftside{
    background-color: aqua;
}
.mainbody .rightside{
    background-color: aquamarine;
}